*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;


}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    
}
.container{
    padding: 0 5rem;
}



.head{
    padding-top: 35px;
}
.nav a{
    margin-left: 35px;
    color: #080808;
    font-size: 16px;
    font-weight: 300;

}
.right a{
   margin-left: 35px;
   color: #080808;
   font-weight: 300;
   font-size: 16px;
}
#slider{
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

   
}
.text{
    margin-bottom: 50px;
    margin-left: 145px;
 
}
.text h3{
    font-size: 30px;
    color: #080808;

}
.text p{
    font-size: 17px;
    color: #999999;
    padding-top: 15px;
}
.products{
    padding-top: 107px;
    padding-bottom: 55px;
   
}
.products .top{
    display: flex;
    justify-content: space-between;
}
.products .top .nav a{
    color: #929292;
    font-size: 12px;
    letter-spacing: 2px;
   
}
.filter h6{
    color: #080808;
    font-size: 12px;
    letter-spacing: 2px;
}


.products .bottom .box{
 
    width: 23%;
    padding-top: 25px;
   
}
.bottom .box .text a{
  text-align: center;
}
.box .photo img{
    width: 100%;
}
.products .bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
hr{
    height: 3px;
    width: 100%;
    border-radius: none;
    opacity: .5;
    
}
.footer .top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer .top .box{
    width: 23%;
    padding-top: 85px;
    padding-bottom: 30px;
}

.bottom .box .photo {
    position: relative;
}
 .photo span{
    position: absolute;
    display: block;
    top: 15px;
    left: 20px;
    font-size: 12px;
  
}
.photo .quick{
    position: absolute;
    overflow: hidden;
}

